<div id="wrapper">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Level</th>
          <th>Service</th>
          <th>Payload</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" class="row">
          <td class="time"> {{ row.time }} </td>
          <td [ngClass]="{'info': row.level == 'info', 'debug': row.level == 'debug', 'warning': row.level == 'warning'}" class="level"> 
            {{ row.level }} 
          </td>
          <td class="service"> {{ row.msg }} </td>
          <td *ngFor="let payload of row.payload | keyvalue" class="payload">
            {{ payload.key }}: {{ payload.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
