#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
  
  .table-container {
    width: 100%;
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    table-layout: fixed; /* Fix the column width */
    border-collapse: collapse; /* Remove gaps between cells */
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd; /* Optional: Adds a border for readability */
  }
  
  th {
    background-color: #f2f2f2; /* Add a background color for headers */
    position: sticky;
    top: 0; /* Keeps the header fixed on top when scrolling */
    z-index: 1; /* Ensures header stays above content */
  }
  
  .info {
    background: lightgray;
  }
  
  .debug {
    background: orange;
  }
  
  .warning { 
    background: yellow;
  }
  
  .service {
    background: #e6ffff;
  }
  
  /* Optional: Set fixed widths for the columns */
  th:nth-child(1), td:nth-child(1) {
    width: 20%; /* Time column */
  }
  
  th:nth-child(2), td:nth-child(2) {
    width: 15%; /* Level column */
  }
  
  th:nth-child(3), td:nth-child(3) {
    width: 30%; /* Service column */
  }
  
  th:nth-child(4), td:nth-child(4) {
    width: 35%; /* Payload column */
  }
  
