<div class="content-area">
<div id="wrapper">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Level</th>
          <th>Service</th>
          <th>Payload</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" class="row">
          <td class="time" class="left"> {{ row.time }} </td>
          <td [ngClass]="{'info': row.level == 'info', 'debug': row.level == 'debug', 'warning': row.level == 'warning'}" class="level" class="left"> 
            {{ row.level }} 
          </td>
          <td class="service" class="left"> {{ row.msg }} </td>
          <td class="payload" class="left">
          <span *ngFor="let payload of row.payload | keyvalue">
            {{ payload.key }}: {{ payload.value }}<br>
          </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>