<div class="login-wrapper">
  <form class="login" (ngSubmit)="login()">
    <div class="login-header">
      <div class="logo"></div>
      <div class="actions">
        <clr-dropdown>
          <button class="btn btn-link btn-sm" clrDropdownTrigger>
            Language
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu>
            <div aria-label="English" clrDropdownItem>English</div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <div class="login-body">
      <section class="title">
        <div class="welcome">Welcome to</div>
        soulDeploy
        <div class="hint">by soulTec</div>
      </section>
      <div class="login-group">
        <clr-select-container>
          <label>User Role</label>
          <select clrSelect name="type" [(ngModel)]="form.type">
            <option value="local">Local Users</option>
            <option value="admin">Administrator</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input
            type="text"
            autocomplete="username"
            name="username"
            clrInput
            placeholder="Enter username"
            [(ngModel)]="form.username"
          />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="password"
            clrPassword
            placeholder="Enter password"
            [(ngModel)]="form.password"
          />
        </clr-password-container>
        <clr-checkbox-wrapper>
          <label>Remember me</label>
          <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe" />
        </clr-checkbox-wrapper>
        <div *ngIf="errorMessage" class="error active">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-primary">Log in</button>
        <a href="javascript://" class="signup">Sign up for an account</a>
      </div>
    </div>
    <div class="login-footer">
      <span class="copyright">
        Copyright © 2016-2025 Broadcom. All Rights Reserved. The term “Broadcom” refers to Broadcom Inc.
        and/or its subsidiaries.
      </span>
      <a href="javascript://">Terms</a>
      <a href="javascript://">Privacy</a>
      <a href="javascript://">California Privacy Rights</a>
    </div>
  </form>
</div>
