.credentials-container {
    display: flex;
    gap: 20px; /* Adjust the gap between the fields as needed */
    align-items: center;
  }


clr-wizard-page {
    min-height: 400px; /* Adjust this value as needed */
    min-width: 840px; /* Adjust this value as needed */
  }